details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin: .5em 1em;
}

.key {
    display: inline;
    padding: 0.2em;
}

p.description {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 15px;
    margin-right: 1em;
    margin-top: 0.2em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}

summary:hover {
    background-color: #e8f9ee;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}